* {
    -webkit-box-sizing:border-box;
    -moz-box-sizing:border-box;
    box-sizing:border-box;
}

html {
    overflow-y: scroll;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    -webkit-overflow-scrolling : touch !important;
    touch-action: manipulation;
}

body {
    margin: 0px; padding: 0px; font-family: 'Roboto', sans-serif;
    font-size: 1em; line-height: 1.5; height: 100%;
}

*, *:focus, *:hover {
    outline: 0;	outline: none;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}

h1, h2, h3 {
    margin: 0px; padding: 0px;
}


.container {
    margin: 0px;
    width: 100%;
    padding: 0px;
}

.footer {
    font-size: 0.8em; height: 60px;
    text-align: center; color: #ccc;
    padding: 20px; background-color: #000;
}

.header {
    display: flex;
    align-items: center;
    align-content: center;
    flex-flow: row nowrap;
    width: 100%; padding: 15px;
    cursor: default; background-color: #000;
    line-height: 1.25; height: 113px;
}

.header a, .header label {
    color: #ccc; cursor: pointer;
    text-align: center; transition: 0.25s;
    text-decoration: none;    
}

.header a:hover, .header label:hover {
    color: #fff;
    transition: 0.25s; 
}

.header a:first-child { max-width: 150px; font-size: 1.5em; }
.header a:nth-child(2), .header label:nth-child(2) { margin-left: auto; }
.header a img { width: 100%; }
.header a i, .header label i { font-size: 1.5em; }
.header a span, .header label span { display: inline-block; width: 100%; font-size: 0.8em; }

.content {
    padding: 100px;
    display: flex;
    min-height: calc(100vh - 173px);
    align-items: center;
    align-content: center;
    flex-flow: row wrap;
    justify-content: space-around;
}
.specifi,.order{
    border: 2px solid #000;
    border-radius: 5px;
    box-shadow:5px 5px grey;   
    width: 500px;
    height: 400px;
    margin: 10px;
    
}
